html, input, textarea {
	font-family: monospace;
	color: rgba(117, 183, 172, 0.88);
}

body {
	background: rgba(42,42,55,1);
	margin: 0;
}

.col {
	float: left;
}

.col2 {
	width: 33%;
}

#url {
	background: rgba(99, 193, 179, 0.15);
}

#url, .col2 h3 {
	height: 3%;
	border-bottom: none;
	min-height: 40px;
}

.col2 h3 {
	box-sizing: border-box;
	padding-top: 10px;
	margin-left: 30px;
}

.col3 {
	width: 67%;
}

input {
	padding: 10px 30px;
}

textarea, input {
	background: rgba(255,255,255,.05);
	width: 100%;
	border: 1px solid;
	font-size: 1em;
}

textarea {
	float: left;
	padding: 30px;
}

#extractedUrlsTextArea {
	border-left: none;
}

#sourceCodeTextArea, #extractedUrlsTextArea {
	height: 97%;
}

h1, h2, h3 {
	text-transform: capitalize;
	margin: 0;
}