body {
	background: rgba(42,42,55,1);
	color: rgba(116,191,122,1);
	padding: 1% 0 1% 1%;
	font-family: monospace;
	margin: 0;
}

.col {
	float: left;
}

.col2 {
	width: 36%;
}

.col2 h2 {
	height: 37px;
	box-sizing: border-box;
	margin: 0 0 29px 0;
	padding-top: 10px;
}

.col3 {
	width: 62%;
	margin-right: 1%;
}

input {
	margin-bottom: 29px;
	padding: 10px;
	border: 1px solid;
}

textarea, input {
	background: rgba(255,255,255,.05);
	color: rgba(255,255,255,.6);
	width: 100%;
	white-space: nowrap;
}

textarea {
	height: 700px;
	float: left;
	padding: 30px;
}

#sourceCodeTextArea, #extractedUrlsTextArea {
	height: 90%;
}

h1, h2, h3 {
	text-transform: capitalize;
}