body {
	background: rgba(42,42,55,1);
	color: rgba(116,191,122,1);
	padding: 40px;
	font-family: sans-serif;
}

.col {
	float: left;
	margin-right: 50px;
}

.col2 {
	width: 30%;
}

.col3 {
	width: 60%;
}

input {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid;
	font-family: monospace;
}

textarea, input {
	background: rgba(255,255,255,.05);
	color: rgba(255,255,255,.6);
	width: 100%;
}

textarea {

	height: 700px;
	float: left;
	padding: 30px;
}

#sourceCodeTextArea {
	height: 90%;

}

h1, h2, h3 {
	text-transform: capitalize;
}
